
nav {
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
    align-items: center;
    background-color: rgb(168, 129, 204);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    
}
img {
    /* width: 150px; */
    /* height: 150px; */
    height: 150px;
    /* float: left; */
    padding: 5px 0;
}

link {
    display: flex;
    margin: 20px;
    align-self: center;
    padding: 5px;
    
    
}




.footer-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.footer-links li {
    padding: 10px;
}
