body {
    background-color: purple;
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin: 20px;
  
  }
nav {
  display: flex;
  justify-content: flex-start;
  border: 2px solid black;
  align-items: center;
  background-color: rgb(168, 129, 204);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
}

nav a {
  display: flex;
  margin: 20px;
  align-self: center;
  padding: 5px;
}

.sam-bw-pic {
    display: inline-block;
    float: left;
    width: 20%;
    height: 20%;
    margin-right: 20px;
}

.movie-cards {
    display: flex;
    
}
.movie-poster img {
    width: 100%;
}

/* Krystal CSS start */
.exec_sum_intro img {
    margin-bottom: 40px;
    margin-right: 12px;
    float: left;
}

.exec_sum_intro h1 {
    font-size: 50px;
    text-align: center;
}

.list_aliases { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    border: 5px solid black;
    padding-bottom: 10px;
    padding-top:10px;
    margin-right: 8px;
}

.list_aliases li {
    list-style: none;
    text-align: center;
}

.list_aliases img {
    height: 140px;
    width: 170px;
}

.list_collaborators img {
    height: 140px;
    width: 140px;
}

.list_collaborators {
    display: flex;
    justify-content: space-evenly;
}

.list_collaborators li {
    list-style: none;
    text-align: center;
}

/* Krystal CSS END */

/* THOMAS 'NEWS' CSS */
div.news {
    display: flex;
    flex-direction: column;
    margin: .25em;
    justify-content: space-between;
}
.news > div {
    margin: 10px;
}
.news > div img {
    margin-right: 10px;
}
.news > div a {
    padding-top: 10px;
}
div.newsContent {
    margin-top: 40px;
}


/* Begin Jeff's personal page styling */




.personal-info {
    display: list-item;
    text-align: center;
    list-style: none;

    
}

.sam-jackson-photo {
    display: inline-block;
    float: left;
}

.personal-info h1 {
font-size: 50px;
}

.personal-info h3 {
    font-size: 25px;
}

.personal-info li {
    font-size: 20px;
}


.family-life {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} 

 .family {
  display: flex;
  flex-direction: column;
  
}
.wife {
  display: flex;
  flex-direction: column;
  
}

.children {
  display: flex;
  flex-direction: column;
  
}

.family-life img {
    width: 250px;
    height: 250px;
}

.family-header {
    text-align: center;
    font-size: 50px;
    margin: 60px 0px 0px 0px;
}

.family-life ul {
    line-height: 25px;
    font-size: 20px;
}

.family-life h3 {
    font-size: 30px;
}

/* .personal-nav a {
    border: 1px solid black;
    margin: 0;
    padding: 0;
} */
/* End Jeff's personal page styling */


.footer-container {
  position: relative;
  margin-top: 150px;
}

footer {
  position: absolute;
  bottom: 0; 
  margin-left: 500px; 
}

.footer-links {
display: flex;
flex-direction: row;
list-style: none;
justify-content: center;
}

.footer-links li {
  padding: 10px; 
}

li img {
  width: 50px;
  height: 50px;
}