nav {
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
    align-items: center;
    background-color: rgb(168, 129, 204);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

nav a {
    display: flex;
    margin: 20px;
    align-self: center;
    padding: 5px;
}

/* Krystal CSS start */
.exec_sum_intro img {
    margin-bottom: 40px;
    margin-right: 12px;
    float: left;
}

.exec_sum_intro h1 {
    font-size: 50px;
    text-align: center;
}

.list_aliases { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    border: 5px solid black;
    padding-bottom: 10px;
    padding-top:10px;
    margin-right: 8px;
}

.list_aliases li {
    list-style: none;
    text-align: center;
}

.list_aliases img {
    height: 140px;
    width: 170px;
}

.list_collaborators img {
    height: 140px;
    width: 140px;
}

.list_collaborators {
    display: flex;
    justify-content: space-evenly;
}

.list_collaborators li {
    list-style: none;
    text-align: center;
}

/* Krystal CSS END */



footer {
    position: fixed;
    bottom: 0; 
    margin-left: 500px; 
}

.footer-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.footer-links li {
    padding: 10px;
    justify-content: center; 
}

li img {
    width: 50px;
    height: 50px;
    align-self: center;
}